Pods/Manifest.lock
Pods/EvrythngiOS/LICENSE
Pods/EvrythngiOS/license.md
Pods/EvrythngiOS/README.md
Pods/EvrythngiOS/Evrythng-iOS/AbstractUser.swift
Pods/EvrythngiOS/Evrythng-iOS/Constants.swift
Pods/EvrythngiOS/Evrythng-iOS/Evrythng.swift
Pods/EvrythngiOS/Evrythng-iOS/EvrythngDelegate.swift
Pods/EvrythngiOS/Evrythng-iOS/EvrythngError.swift
Pods/EvrythngiOS/Evrythng-iOS/EvrythngiOS.h
Pods/EvrythngiOS/Evrythng-iOS/EvrythngNetworkService.swift
Pods/EvrythngiOS/Evrythng-iOS/EvrythngScanner.swift
Pods/EvrythngiOS/Evrythng-iOS/EvrythngScannerDelegate.swift
Pods/EvrythngiOS/Evrythng-iOS/EvrythngScannerError.swift
Pods/EvrythngiOS/Evrythng-iOS/EvrythngScannerResultDelegate.swift
Pods/EvrythngiOS/Evrythng-iOS/EvrythngScannerVC.swift
Pods/EvrythngiOS/Evrythng-iOS/Product.swift
Pods/EvrythngiOS/Evrythng-iOS/StringUtils.swift
Pods/EvrythngiOS/Evrythng-iOS/Thng.swift
Pods/EvrythngiOS/Evrythng-iOS/User.swift
Pods/EvrythngiOS/Evrythng-iOS/UserDelegate.swift
Pods/Local Podspecs/EvrythngiOS.podspec.json
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/EvrythngiOS.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/Pods-Evrythng-iOS-SampleApp.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/Pods-Evrythng-iOS-SampleAppTests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/Pods-Evrythng-iOS-SampleAppUITests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Target Support Files/EvrythngiOS/EvrythngiOS-dummy.m
Pods/Target Support Files/EvrythngiOS/EvrythngiOS-prefix.pch
Pods/Target Support Files/EvrythngiOS/EvrythngiOS-umbrella.h
Pods/Target Support Files/EvrythngiOS/EvrythngiOS.modulemap
Pods/Target Support Files/EvrythngiOS/EvrythngiOS.xcconfig
Pods/Target Support Files/EvrythngiOS/Info.plist
Pods/Target Support Files/Pods-Evrythng-iOS-SampleApp/Info.plist
Pods/Target Support Files/Pods-Evrythng-iOS-SampleApp/Pods-Evrythng-iOS-SampleApp-acknowledgements.markdown
Pods/Target Support Files/Pods-Evrythng-iOS-SampleApp/Pods-Evrythng-iOS-SampleApp-acknowledgements.plist
Pods/Target Support Files/Pods-Evrythng-iOS-SampleApp/Pods-Evrythng-iOS-SampleApp-dummy.m
Pods/Target Support Files/Pods-Evrythng-iOS-SampleApp/Pods-Evrythng-iOS-SampleApp-frameworks.sh
Pods/Target Support Files/Pods-Evrythng-iOS-SampleApp/Pods-Evrythng-iOS-SampleApp-resources.sh
Pods/Target Support Files/Pods-Evrythng-iOS-SampleApp/Pods-Evrythng-iOS-SampleApp-umbrella.h
Pods/Target Support Files/Pods-Evrythng-iOS-SampleApp/Pods-Evrythng-iOS-SampleApp.debug.xcconfig
Pods/Target Support Files/Pods-Evrythng-iOS-SampleApp/Pods-Evrythng-iOS-SampleApp.modulemap
Pods/Target Support Files/Pods-Evrythng-iOS-SampleApp/Pods-Evrythng-iOS-SampleApp.release.xcconfig
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppTests/Info.plist
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppTests/Pods-Evrythng-iOS-SampleAppTests-acknowledgements.markdown
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppTests/Pods-Evrythng-iOS-SampleAppTests-acknowledgements.plist
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppTests/Pods-Evrythng-iOS-SampleAppTests-dummy.m
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppTests/Pods-Evrythng-iOS-SampleAppTests-frameworks.sh
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppTests/Pods-Evrythng-iOS-SampleAppTests-resources.sh
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppTests/Pods-Evrythng-iOS-SampleAppTests-umbrella.h
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppTests/Pods-Evrythng-iOS-SampleAppTests.debug.xcconfig
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppTests/Pods-Evrythng-iOS-SampleAppTests.modulemap
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppTests/Pods-Evrythng-iOS-SampleAppTests.release.xcconfig
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppUITests/Info.plist
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppUITests/Pods-Evrythng-iOS-SampleAppUITests-acknowledgements.markdown
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppUITests/Pods-Evrythng-iOS-SampleAppUITests-acknowledgements.plist
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppUITests/Pods-Evrythng-iOS-SampleAppUITests-dummy.m
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppUITests/Pods-Evrythng-iOS-SampleAppUITests-frameworks.sh
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppUITests/Pods-Evrythng-iOS-SampleAppUITests-resources.sh
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppUITests/Pods-Evrythng-iOS-SampleAppUITests-umbrella.h
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppUITests/Pods-Evrythng-iOS-SampleAppUITests.debug.xcconfig
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppUITests/Pods-Evrythng-iOS-SampleAppUITests.modulemap
Pods/Target Support Files/Pods-Evrythng-iOS-SampleAppUITests/Pods-Evrythng-iOS-SampleAppUITests.release.xcconfig
Evrythng-iOS-SampleApp.xcodeproj/project.pbxproj
Evrythng-iOS-SampleApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Evrythng-iOS-SampleApp.xcodeproj/project.xcworkspace/xcshareddata/Evrythng-iOS-SampleApp.xcscmblueprint
Evrythng-iOS-SampleApp.xcodeproj/project.xcworkspace/xcuserdata/imfree.jdcastro.xcuserdatad/UserInterfaceState.xcuserstate
Evrythng-iOS-SampleApp.xcworkspace/contents.xcworkspacedata
Evrythng-iOS-SampleApp.xcworkspace/xcuserdata/imfree.jdcastro.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Alamofire/LICENSE
Pods/Alamofire/README.md
Pods/Alamofire/Source/AFError.swift
Pods/Alamofire/Source/Alamofire.swift
Pods/Alamofire/Source/DispatchQueue+Alamofire.swift
Pods/Alamofire/Source/MultipartFormData.swift
Pods/Alamofire/Source/NetworkReachabilityManager.swift
Pods/Alamofire/Source/Notifications.swift
Pods/Alamofire/Source/ParameterEncoding.swift
Pods/Alamofire/Source/Request.swift
Pods/Alamofire/Source/Response.swift
Pods/Alamofire/Source/ResponseSerialization.swift
Pods/Alamofire/Source/Result.swift
Pods/Alamofire/Source/ServerTrustPolicy.swift
Pods/Alamofire/Source/SessionDelegate.swift
Pods/Alamofire/Source/SessionManager.swift
Pods/Alamofire/Source/TaskDelegate.swift
Pods/Alamofire/Source/Timeline.swift
Pods/Alamofire/Source/Validation.swift
Pods/AlamofireObjectMapper/LICENSE
Pods/AlamofireObjectMapper/README.md
Pods/AlamofireObjectMapper/AlamofireObjectMapper/AlamofireObjectMapper.swift
Pods/EvrythngiOS/Evrythng-iOS/EvrythngNetworkDispatcher.swift
Pods/EvrythngiOS/Evrythng-iOS/JSON.swift
Pods/Moya/License.md
Pods/Moya/Readme.md
Pods/Moya-SwiftyJSONMapper/LICENSE
Pods/Moya-SwiftyJSONMapper/README.md
Pods/Moya-SwiftyJSONMapper/Source/ALSwiftyJSONAble.swift
Pods/Moya-SwiftyJSONMapper/Source/Response+SwiftyJSONMapper.swift
Pods/Moya/Sources/Moya/Cancellable.swift
Pods/Moya/Sources/Moya/Endpoint.swift
Pods/Moya/Sources/Moya/Image.swift
Pods/Moya/Sources/Moya/Moya+Alamofire.swift
Pods/Moya/Sources/Moya/MoyaAvailability.swift
Pods/Moya/Sources/Moya/MoyaError.swift
Pods/Moya/Sources/Moya/MoyaProvider+Defaults.swift
Pods/Moya/Sources/Moya/MoyaProvider+Internal.swift
Pods/Moya/Sources/Moya/MoyaProvider.swift
Pods/Moya/Sources/Moya/MultipartFormData.swift
Pods/Moya/Sources/Moya/MultiTarget.swift
Pods/Moya/Sources/Moya/Plugin.swift
Pods/Moya/Sources/Moya/Response.swift
Pods/Moya/Sources/Moya/TargetType.swift
Pods/Moya/Sources/Moya/Plugins/AccessTokenPlugin.swift
Pods/Moya/Sources/Moya/Plugins/CredentialsPlugin.swift
Pods/Moya/Sources/Moya/Plugins/NetworkActivityPlugin.swift
Pods/Moya/Sources/Moya/Plugins/NetworkLoggerPlugin.swift
Pods/MoyaSugar/LICENSE
Pods/MoyaSugar/README.md
Pods/MoyaSugar/Sources/MoyaSugarProvider.swift
Pods/MoyaSugar/Sources/Parameters.swift
Pods/MoyaSugar/Sources/Route.swift
Pods/MoyaSugar/Sources/SugarTargetType.swift
Pods/ObjectMapper/LICENSE
Pods/ObjectMapper/README-CN.md
Pods/ObjectMapper/Sources/CustomDateFormatTransform.swift
Pods/ObjectMapper/Sources/DataTransform.swift
Pods/ObjectMapper/Sources/DateFormatterTransform.swift
Pods/ObjectMapper/Sources/DateTransform.swift
Pods/ObjectMapper/Sources/DictionaryTransform.swift
Pods/ObjectMapper/Sources/EnumOperators.swift
Pods/ObjectMapper/Sources/EnumTransform.swift
Pods/ObjectMapper/Sources/FromJSON.swift
Pods/ObjectMapper/Sources/HexColorTransform.swift
Pods/ObjectMapper/Sources/ImmutableMappable.swift
Pods/ObjectMapper/Sources/IntegerOperators.swift
Pods/ObjectMapper/Sources/ISO8601DateTransform.swift
Pods/ObjectMapper/Sources/Map.swift
Pods/ObjectMapper/Sources/MapError.swift
Pods/ObjectMapper/Sources/Mappable.swift
Pods/ObjectMapper/Sources/Mapper.swift
Pods/ObjectMapper/Sources/NSDecimalNumberTransform.swift
Pods/ObjectMapper/Sources/Operators.swift
Pods/ObjectMapper/Sources/ToJSON.swift
Pods/ObjectMapper/Sources/TransformOf.swift
Pods/ObjectMapper/Sources/TransformOperators.swift
Pods/ObjectMapper/Sources/TransformType.swift
Pods/ObjectMapper/Sources/URLTransform.swift
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/Alamofire.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/AlamofireObjectMapper.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/Moya-SwiftyJSONMapper.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/Moya.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/MoyaSugar.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/ObjectMapper.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/Result.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/SwiftEventBus.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/SwiftyJSON.xcscheme
Pods/Result/LICENSE
Pods/Result/README.md
Pods/Result/Result/Result.swift
Pods/Result/Result/ResultProtocol.swift
Pods/SwiftEventBus/LICENSE
Pods/SwiftEventBus/README.md
Pods/SwiftEventBus/SwiftEventBus/SwiftEventBus.swift
Pods/SwiftyJSON/LICENSE
Pods/SwiftyJSON/README.md
Pods/SwiftyJSON/Source/SwiftyJSON.swift
Pods/Target Support Files/Alamofire/Alamofire-dummy.m
Pods/Target Support Files/Alamofire/Alamofire-prefix.pch
Pods/Target Support Files/Alamofire/Alamofire-umbrella.h
Pods/Target Support Files/Alamofire/Alamofire.modulemap
Pods/Target Support Files/Alamofire/Alamofire.xcconfig
Pods/Target Support Files/Alamofire/Info.plist
Pods/Target Support Files/AlamofireObjectMapper/AlamofireObjectMapper-dummy.m
Pods/Target Support Files/AlamofireObjectMapper/AlamofireObjectMapper-prefix.pch
Pods/Target Support Files/AlamofireObjectMapper/AlamofireObjectMapper-umbrella.h
Pods/Target Support Files/AlamofireObjectMapper/AlamofireObjectMapper.modulemap
Pods/Target Support Files/AlamofireObjectMapper/AlamofireObjectMapper.xcconfig
Pods/Target Support Files/AlamofireObjectMapper/Info.plist
Pods/Target Support Files/Moya/Info.plist
Pods/Target Support Files/Moya/Moya-dummy.m
Pods/Target Support Files/Moya/Moya-prefix.pch
Pods/Target Support Files/Moya/Moya-umbrella.h
Pods/Target Support Files/Moya/Moya.modulemap
Pods/Target Support Files/Moya/Moya.xcconfig
Pods/Target Support Files/Moya-SwiftyJSONMapper/Info.plist
Pods/Target Support Files/Moya-SwiftyJSONMapper/Moya-SwiftyJSONMapper-dummy.m
Pods/Target Support Files/Moya-SwiftyJSONMapper/Moya-SwiftyJSONMapper-prefix.pch
Pods/Target Support Files/Moya-SwiftyJSONMapper/Moya-SwiftyJSONMapper-umbrella.h
Pods/Target Support Files/Moya-SwiftyJSONMapper/Moya-SwiftyJSONMapper.modulemap
Pods/Target Support Files/Moya-SwiftyJSONMapper/Moya-SwiftyJSONMapper.xcconfig
Pods/Target Support Files/MoyaSugar/Info.plist
Pods/Target Support Files/MoyaSugar/MoyaSugar-dummy.m
Pods/Target Support Files/MoyaSugar/MoyaSugar-prefix.pch
Pods/Target Support Files/MoyaSugar/MoyaSugar-umbrella.h
Pods/Target Support Files/MoyaSugar/MoyaSugar.modulemap
Pods/Target Support Files/MoyaSugar/MoyaSugar.xcconfig
Pods/Target Support Files/ObjectMapper/Info.plist
Pods/Target Support Files/ObjectMapper/ObjectMapper-dummy.m
Pods/Target Support Files/ObjectMapper/ObjectMapper-prefix.pch
Pods/Target Support Files/ObjectMapper/ObjectMapper-umbrella.h
Pods/Target Support Files/ObjectMapper/ObjectMapper.modulemap
Pods/Target Support Files/ObjectMapper/ObjectMapper.xcconfig
Pods/Target Support Files/Result/Info.plist
Pods/Target Support Files/Result/Result-dummy.m
Pods/Target Support Files/Result/Result-prefix.pch
Pods/Target Support Files/Result/Result-umbrella.h
Pods/Target Support Files/Result/Result.modulemap
Pods/Target Support Files/Result/Result.xcconfig
Pods/Target Support Files/SwiftEventBus/Info.plist
Pods/Target Support Files/SwiftEventBus/SwiftEventBus-dummy.m
Pods/Target Support Files/SwiftEventBus/SwiftEventBus-prefix.pch
Pods/Target Support Files/SwiftEventBus/SwiftEventBus-umbrella.h
Pods/Target Support Files/SwiftEventBus/SwiftEventBus.modulemap
Pods/Target Support Files/SwiftEventBus/SwiftEventBus.xcconfig
Pods/Target Support Files/SwiftyJSON/Info.plist
Pods/Target Support Files/SwiftyJSON/SwiftyJSON-dummy.m
Pods/Target Support Files/SwiftyJSON/SwiftyJSON-prefix.pch
Pods/Target Support Files/SwiftyJSON/SwiftyJSON-umbrella.h
Pods/Target Support Files/SwiftyJSON/SwiftyJSON.modulemap
Pods/Target Support Files/SwiftyJSON/SwiftyJSON.xcconfig
Evrythng-iOS-SampleApp.xcworkspace/xcuserdata/imfree.jdcastro.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Moya-ObjectMapper/LICENSE
Pods/Moya-ObjectMapper/README.md
Pods/Moya-ObjectMapper/Source/Response+ObjectMapper.swift
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/Moya-ObjectMapper.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/Pods-EvrythngiOS.xcscheme
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/QRCodeReader.swift.xcscheme
Pods/QRCodeReader.swift/LICENSE
Pods/QRCodeReader.swift/README.md
Pods/QRCodeReader.swift/Sources/QRCodeReader.swift
Pods/QRCodeReader.swift/Sources/QRCodeReaderResult.swift
Pods/QRCodeReader.swift/Sources/QRCodeReaderView.swift
Pods/QRCodeReader.swift/Sources/QRCodeReaderViewContainer.swift
Pods/QRCodeReader.swift/Sources/QRCodeReaderViewController.swift
Pods/QRCodeReader.swift/Sources/QRCodeReaderViewControllerBuilder.swift
Pods/QRCodeReader.swift/Sources/QRCodeReaderViewControllerDelegate.swift
Pods/QRCodeReader.swift/Sources/ReaderOverlayView.swift
Pods/QRCodeReader.swift/Sources/SwitchCameraButton.swift
Pods/QRCodeReader.swift/Sources/ToggleTorchButton.swift
Pods/Target Support Files/Moya-ObjectMapper/Info.plist
Pods/Target Support Files/Moya-ObjectMapper/Moya-ObjectMapper-dummy.m
Pods/Target Support Files/Moya-ObjectMapper/Moya-ObjectMapper-prefix.pch
Pods/Target Support Files/Moya-ObjectMapper/Moya-ObjectMapper-umbrella.h
Pods/Target Support Files/Moya-ObjectMapper/Moya-ObjectMapper.modulemap
Pods/Target Support Files/Moya-ObjectMapper/Moya-ObjectMapper.xcconfig
Pods/Target Support Files/Pods-EvrythngiOS/Info.plist
Pods/Target Support Files/Pods-EvrythngiOS/Pods-EvrythngiOS-acknowledgements.markdown
Pods/Target Support Files/Pods-EvrythngiOS/Pods-EvrythngiOS-acknowledgements.plist
Pods/Target Support Files/Pods-EvrythngiOS/Pods-EvrythngiOS-dummy.m
Pods/Target Support Files/Pods-EvrythngiOS/Pods-EvrythngiOS-resources.sh
Pods/Target Support Files/Pods-EvrythngiOS/Pods-EvrythngiOS-umbrella.h
Pods/Target Support Files/Pods-EvrythngiOS/Pods-EvrythngiOS.debug.xcconfig
Pods/Target Support Files/Pods-EvrythngiOS/Pods-EvrythngiOS.modulemap
Pods/Target Support Files/Pods-EvrythngiOS/Pods-EvrythngiOS.release.xcconfig
Pods/Target Support Files/QRCodeReader.swift/Info.plist
Pods/Target Support Files/QRCodeReader.swift/QRCodeReader.swift-dummy.m
Pods/Target Support Files/QRCodeReader.swift/QRCodeReader.swift-prefix.pch
Pods/Target Support Files/QRCodeReader.swift/QRCodeReader.swift-umbrella.h
Pods/Target Support Files/QRCodeReader.swift/QRCodeReader.swift.modulemap
Pods/Target Support Files/QRCodeReader.swift/QRCodeReader.swift.xcconfig
Pods/KRProgressHUD/LICENSE
Pods/KRProgressHUD/README.md
Pods/KRProgressHUD/KRProgressHUD/Classes/KRProgressHUD.swift
Pods/KRProgressHUD/KRProgressHUD/Classes/KRProgressHUDExtensions.swift
Pods/KRProgressHUD/KRProgressHUD/Classes/KRProgressHUDIconType.swift
Pods/KRProgressHUD/KRProgressHUD/Classes/KRProgressHUDViewController.swift
Pods/KRProgressHUD/KRProgressHUD/Classes/KRActivityIndicatorView/KRActivityIndicatorView.swift
Pods/KRProgressHUD/KRProgressHUD/Classes/KRActivityIndicatorView/KRActivityIndicatorViewStyle.swift
Pods/Pods.xcodeproj/xcuserdata/imfree.jdcastro.xcuserdatad/xcschemes/KRProgressHUD.xcscheme
Pods/Target Support Files/KRProgressHUD/Info.plist
Pods/Target Support Files/KRProgressHUD/KRProgressHUD-dummy.m
Pods/Target Support Files/KRProgressHUD/KRProgressHUD-prefix.pch
Pods/Target Support Files/KRProgressHUD/KRProgressHUD-umbrella.h
Pods/Target Support Files/KRProgressHUD/KRProgressHUD.modulemap
Pods/Target Support Files/KRProgressHUD/KRProgressHUD.xcconfig
